- presenter.earned_badges.each do |badge|
  .earned-badge
    .earned-badge-date
      = "Awarded #{ badge.created_at.strftime("%b %d") }"
    .earned-badge-feedback
      = "Feedback #{ raw badge.feedback }"

- unless presenter.earned_badges.empty?
  %p
    %button{ type: "button", class: "button", id: "backpack_issue", data: { issue_path: "#{ issue_api_openbadges_backpack_path(presenter.badge.id) }",
      connect_url: "#{ connect_api_openbadges_backpack_index_url }" } }
      %i.fa.fa-upload
      Export Badge to Mozilla
